h1 {
    top: 30vh;
    width: 90%;
    // font-family: 'sofia_probold';
    -webkit-font-smoothing: antialiased;
    line-height: 1.2em;
    font-size: 3em;
    color: white;
    position: absolute;
    // text-align: right;
}